.x-dropdown{
	position: relative;
	display: inline-block;
}
.x-dropdown>.input,
.x-dropdown>.list>li{
	padding: 0 8px;
	font-size: 16px;
}
.x-dropdown>.list{
	position: absolute;
	margin: 0;
	padding: 0;
    width: 100%;
    border: 1px solid #a9a9a9;
    border-top: 0;
    box-sizing: border-box;
    display: none;
    z-index: 10;
    background: #fff;
    outline: 0;
    list-style: none;
    max-height: 100px;
    overflow: auto;
}
.x-dropdown>.list>li{
	cursor: pointer;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.x-dropdown>.list>li:focus,
.x-dropdown>.list>li:hover,
.x-dropdown>.list>li.selected{
	background: #3da1ff;
	color: #fff;
}
.x-dropdown>.loading{
	position: absolute;
    right: 0.25em;
    top: 0.25em;
    display: none;
    background-image: url(./../images/loading.gif);
    width: 1em;
    height: 1em;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}